<p>Dear <%= @bid.user.company_name %>>,</p>
<p>Your company has been selected with the offer from @bid.listing.user.company_name.</p>
<p>Please find attached T&C contract to be signed and send to the other part.</p>
<p>Regards,</p>
<p>Ezteca</p>
